
:root {
  --base: #cfcfcf;
  --text: #212121;
  --shadow: #e3e1e1;
  --border-color: #e5e7eb;
  --invert-ico: 1;
  --hovering: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base: #111827;
    --text: #f9fafb;
    --shadow: #10b981;
    --invert-ico: 1;
    --hovering: 0;
    --border-color: #374151;
  }
}
button:hover{
  background-color: var(--text);
  color: var(--base);
}
html {
  color-scheme: dark light;
  font-size: 1.5em;
}
:root:has(#theme [value="☀️"]:checked) {
  color-scheme: light;
  --base: #ffffff;
  --text: #111827;
  --shadow: #10b981;
  --invert-ico: 0;
  --hovering: 1;
  --border-color: #e5e7eb;
}
.invert {
  filter: invert(var(--invert-ico));
}
:root:has(#theme [value="🌑"]:checked) {
  color-scheme: dark;
  --base: #111827;
  --text: #f9fafb;
  --shadow: #10b981;
  --invert-ico: 1;
  --hovering: 0;
  --border-color: #374151;
}
body {
  color: var(--text);
  background-color: var(--base);
}

body {
  font-family: system-ui;
}
button {
  transition: background-color 0.2s ease;
  border: 2px var(--text) solid;
  background-color: transparent;
  width: 300px;
  min-height: 40px;
  border: var(--border-color);
  font-size: 1em;
}

input,
select {
  font: inherit;
  border: solid;
}
input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 1em;
  padding: 0 15px;
  border: solid 2px;
  background: transparent;
  transition: 0.1s ease;
  display: flex;
}
textarea {
  width: 100%;
  padding: 8px 12px;
  font-size: 16px;
  border: 2px solid ;
  overflow: hidden; /* Hides ugly scrollbars */
  resize: none;
  font: inherit;
  background-color: transparent;
  transition: 0.1s ease;
  border-radius: 0;
}
.labeline {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1em;
  color: var(--text);
  background-color: var(--base);
  padding: 0 5px;
  transition: 0.2s ease;
  pointer-events: none;
}

input:focus {
  border: 4px solid;
}

input:focus + .labeline,
input:valid + .labeline {
  top: -9px;
  transform: translateY(0) scale(0.88);
  z-index: 2;
}
textarea:focus {
  border: 4px solid;
}

textarea:focus + .labeline,
textarea:valid + .labeline {
  top: -9px;
  transform: translateY(0) scale(0.88);
  z-index: 2;
}
.custom-dropdown {
  position: relative;
  display: inline-block;
  width: 200px;
  margin-left: 20px;
}


.dropdown-toggle {
  width: 100%;
  padding: 10px;
  background: var(--base);
  border: 2px solid;

  cursor: pointer;
  text-align: left;
}

.dropdown-pane {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  background-color: var(--base);
  overflow-y: auto;
  
  border: 2px solid ;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-option {
  padding: 10px;
  cursor: pointer;
}

.dropdown-option:hover {
  background: var(--text);
  color: var(--base);
}

/* Show the pane when active */
.custom-dropdown.active .dropdown-pane {
  display: block;
}
