/* :root {
  --base: #cfcfcf;
  --text: #212121;
  --shadow: #e3e1e1;
  --border-color: #e5e7eb;
  --invert-ico: 1;
  --hovering: 0;
}
@media (prefers-color-scheme: dark) {
  :root {
    --base: #111827;
    --text: #f9fafb;
    --shadow: #10b981;
    --invert-ico: 1;
    --hovering: 0;
    --border-color: #374151;
  }
}
:root:has(#theme [value="☀️"]:checked) {
  color-scheme: light;
  --base: #ffffff;
  --text: #111827;
  --shadow: #10b981;
  --invert-ico: 0;
  --hovering: 1;
  --border-color: #e5e7eb;
}
.invert {
  filter: invert(var(--invert-ico));
}
:root:has(#theme [value="🌑"]:checked) {
  color-scheme: dark;
  --base: #111827;
  --text: #f9fafb;
  --shadow: #10b981;
  --invert-ico: 1;
  --hovering: 0;
  --border-color: #374151;
} */
.with-scrollbar {
  height: 300px;
  border: 5px solid hsl(0 0 50% / 0.5);
  overflow-y: scroll;
}
.box {
  width: 450px;
  height: 600px;
  background-color: var(--base);
  display: flex;
  border: 2px var(--text) solid;
  overflow: hidden;
  transition: height + width 0.3s ease;
  scale: 0.8;
}
.login,
.register {
  height: 100%;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.7s ease;
  margin-left: 20px;
}

.forms {
  display: flex;
  flex-direction: column;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  /* border: solid; */
}

.tinput {
  position: relative;
  width: 300px;
  height: 50px;
  
}

.pass-peek {
  width: 50px;
  height: 50px;
  position: absolute;
  margin-top: -50px;
  right: 0;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  /* border: solid; */
}
.img-peek,
.back-img {
  filter: invert(var(--invert-ico));
}
.back-b{position: absolute;}
.pass-peek:hover > .img-peek,
.back-b:hover > .back-img {
  filter: invert(var(--hovering));
}
.pass-peek:hover,
.back-b:hover {
  background-color: var(--text);

}
.back {
  width: inherit;
  height: 40px;
  left: 0%;
  transform: translateY(-50%);
  justify-content: left;
}