body {
    margin: 0;
    display: flex;
    overflow: hidden;
    font-size: 17px;
}

.right-panel {
    overflow-x: hidden;
    overflow-y: scroll;
    flex-grow: 1;
    padding-left: 30px;
}

.left-panel {
    width: 230px;
    height: 100%;
    display: flex;
    position: sticky;
    flex-direction: column;
    top: 0;
    transition: width 0.3s ease;
    background-color: #10B981;
    flex-shrink: 0;
}

.star-rating {
    position: relative;
    display: inline-block;
    font-size: 50px;
    cursor: pointer;
    width: 250px;
    /* 5 stars * 50px */
}

.stars-bg {
    color: gray;
}

.stars-fill {
    color: gold;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    /* this will change on hover */
    white-space: nowrap;
    overflow: hidden;
    pointer-events: none;
}

.left-panel.collapsed {
    width: 50px;
}

.left-panel.expand {
    width: 230px;
}

.left-panel.collapsed span {
    display: none;
    justify-content: center;
}

.left-panel.expand span {
    display: block;
}

.left-panel::-webkit-scrollbar {
    display: none;
}

.right-panel::-webkit-scrollbar {
    display: none;
}

.main-panel {
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.no-reviewed-products {
    display: flex;
    flex-direction: column;
}

.product-holder-list {
    // width: calc(100% - (100%/400));
    display: flex;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    gap: 1em;
    scrollbar-width: none;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    border: solid;
    flex-grow: 0;
    flex-shrink: 0;
}

.product-holder-list::-webkit-scrollbar {
    display: none;
}

.product-holder {
    width: var(--card-width);
    height: var(--card-height);
    border: solid;
}

.right-panel>.review-product-panel {
    position: absolute;
    z-index: 9999;
    background-color: #10B981;
}

:root {
    --card-width: 150px;
    --card-height: 200px;
    --button-radius: 5px;
}

.panel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

button {
    width: initial;
    height: 70px;
    font-size: 14px;
}

.left-panel>button {
    border: none;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
}

.left-panel>#toggle-theme {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

button:hover {
    background-color: var(--text);
    cursor: pointer;
    color: var(--base);
}

button:hover svg {
    filter: invert(var(--hovering));
}

.panel-button svg {
    flex-shrink: 0;
}

.tinput {
    position: relative;
    width: 95%;
    height: 50px;
}

@for $i from 1 through 10 {
    .random-product#{$i} {
        width: var(--card-width);
        height: var(--card-height);
        display: flex;
        flex-direction: column;
        text-align: left;
        // border-radius: var(--button-radius);
    }

}

@for $i from 1 through 30 {
    #product#{$i} {
        display: flex;
        // flex-direction: row;
        width: 100%;
        height: 50px;
        border: solid;
    }
}

.no-reviewed-products {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}