body {
    margin: 0;
    display: flex;
    overflow: hidden;
}

.right-panel {
    overflow-x: hidden;
    overflow-y: scroll;
    flex-grow: 1;
    padding-left: 30px;
    // border: solid;
}

.left-panel {
    width: 200px;
    height: 100%;
    // border: solid;
    display: flex;
    position: sticky;
    flex-direction: column;
    top: 0;
    overflow-y: hidden;
    transition: width 0.3s ease;
}

.left-panel.collapsed {
    width: 60px;
}

.left-panel.expand {
    width: 200px;
}

.left-panel.collapsed span {
    display: none;
}

.left-panel.expand span {
    display: block;
}

.left-panel::-webkit-scrollbar {
    display: none;
}

.right-panel::-webkit-scrollbar {
    display: none;
}

.main-panel {
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.product-holder-list {
    // width: calc(100% - (100%/400));
    display: flex;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    gap: 1em;
    scrollbar-width: none;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
}

.product-holder-list::-webkit-scrollbar {
    display: none;
}

.product-holder {
    width: var(--card-width);
    height: var(--card-height);
}

:root {
    --card-width: 150px;
    --card-height: 200px;
    --button-radius: 5px;
}

.panel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
button{
    width:initial;
}
button:hover {
  background-color: var(--text);
  cursor: pointer;
  color: var(--base);
}
button:hover svg{
    filter: invert(var(--hovering));
  }
.panel-button svg {
    flex-shrink: 0;
}

@for $i from 1 through 10 {
    #food-product#{$i} {
        width: var(--card-width);
        height: var(--card-height);
        display: flex;
        flex-direction: column;
        text-align: left;
        // border-radius: var(--button-radius);
    }

    #cosmetics-product#{$i} {
        width: var(--card-width);
        height: var(--card-height);
        display: flex;
        flex-direction: column;
        text-align: left;
        // border-radius: var(--button-radius);
    }

    #appliance-product#{$i} {
        width: var(--card-width);
        height: var(--card-height);
        display: flex;
        flex-direction: column;
        text-align: left;
        // border-radius: var(--button-radius);
    }

    #healthnwellnes-product#{$i} {
        width: var(--card-width);
        height: var(--card-height);
        display: flex;
        flex-direction: column;
        text-align: left;
        // border-radius: var(--button-radius);
    }

    #toys-product#{$i} {
        width: var(--card-width);
        height: var(--card-height);
        display: flex;
        flex-direction: column;
        text-align: left;
        // border-radius: var(--button-radius);
    }
}