body {
  margin: 0;
  display: flex;
  overflow: hidden;
}

.right-panel {
  overflow-x: hidden;
  overflow-y: scroll;
  flex-grow: 1;
  padding-left: 30px;
}

.left-panel {
  width: 400px;
  height: 100%;
  display: flex;
  position: sticky;
  flex-direction: column;
  top: 0;
  overflow-y: hidden;
  transition: width 0.3s ease;
}

.left-panel.collapsed {
  width: 100px;
}

.left-panel.expand {
  width: 400px;
}

.left-panel.collapsed span {
  display: none;
}

.left-panel.expand span {
  display: block;
}

.left-panel::-webkit-scrollbar {
  display: none;
}

.right-panel::-webkit-scrollbar {
  display: none;
}

.main-panel {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.product-holder-list {
  display: flex;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  gap: 1em;
  scrollbar-width: none;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
}

.product-holder-list::-webkit-scrollbar {
  display: none;
}

.product-holder {
  width: var(--card-width);
  height: var(--card-height);
}

:root {
  --card-width: 150px;
  --card-height: 200px;
  --button-radius: 5px;
}

.panel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

button {
  width: initial;
  height: 70px;
}

.left-panel > button {
  border: none;
}

button:hover {
  background-color: var(--text);
  cursor: pointer;
  color: var(--base);
}

button:hover svg {
  filter: invert(var(--hovering));
}

.panel-button svg {
  flex-shrink: 0;
}

#food-product1 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#cosmetics-product1 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#appliance-product1 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#healthnwellnes-product1 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#toys-product1 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#food-product2 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#cosmetics-product2 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#appliance-product2 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#healthnwellnes-product2 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#toys-product2 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#food-product3 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#cosmetics-product3 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#appliance-product3 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#healthnwellnes-product3 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#toys-product3 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#food-product4 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#cosmetics-product4 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#appliance-product4 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#healthnwellnes-product4 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#toys-product4 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#food-product5 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#cosmetics-product5 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#appliance-product5 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#healthnwellnes-product5 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#toys-product5 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#food-product6 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#cosmetics-product6 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#appliance-product6 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#healthnwellnes-product6 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#toys-product6 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#food-product7 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#cosmetics-product7 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#appliance-product7 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#healthnwellnes-product7 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#toys-product7 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#food-product8 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#cosmetics-product8 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#appliance-product8 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#healthnwellnes-product8 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#toys-product8 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#food-product9 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#cosmetics-product9 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#appliance-product9 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#healthnwellnes-product9 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#toys-product9 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#food-product10 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#cosmetics-product10 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#appliance-product10 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#healthnwellnes-product10 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#toys-product10 {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
}

/*# sourceMappingURL=mainmenu.css.map */
