:root {
  --base: #cfcfcf;
  --text: #212121;
  --shadow: #e3e1e1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base: #212121;
    --text: #cfcfcf;
  }
}

html {
  color-scheme: dark light;
}
:root:has(#theme [value="☀️"]:checked) {
  color-scheme: light;
  --base: #cfcfcf;
  --text: #212121;
  --shadow: #212020;
}

:root:has(#theme [value="🌑"]:checked) {
  color-scheme: dark;
  --base: #212121;
  --text: #cfcfcf;
  --shadow: #e3e1e1;
}

body {
  color: var(--text);
  background-color: var(--base);
}

body {
  font-family: system-ui;
  /* font-size: 1.5rem; */
}
button {
  transition: background-color 0.2s ease;
  border: 2px var(--text) solid;
  background-color: transparent;
  width: 300px;
  height: 40px;
}
button:hover {
  background-color: var(--text);
  cursor: pointer;
  color: var(--base);
}
input,
select {
  font: inherit;
  /* border-radius: 5px; */
}

.with-scrollbar {
  height: 300px;
  border: 5px solid hsl(0 0 50% / 0.5);
  overflow-y: scroll;
}
.box {
  width: 400px;
  height: 500px;
  background-color: var(--base);
  display: flex;
  border: 2px var(--text) solid;
  overflow: hidden;
}
.login,
.register {
  height: 100%;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forms {
  display: flex;
  flex-direction: column;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.tinput {
  position: relative;
  width: 300px; /* fixed width for centering */
  height: 50px;
}

input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 1em;
  padding: 0 15px;
  border: solid 2px;
  background: transparent;
  transition: 0.1s ease;
}

.labeline {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1em;
  color: var(--text);
  background-color: var(--base);
  padding: 0 5px;
  transition: 0.2s ease;
  pointer-events: none;
}

input:focus {
  border: 4px solid;
}

input:focus + .labeline,
input:valid + .labeline {
  top: -9px;
  transform: translateY(0) scale(0.88);
  z-index: 2;
}
