:root {
  --base: #cfcfcf;
  --text: #212121;
  --shadow: #e3e1e1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base: #212121;
    --text: #cfcfcf;
  }
}

html {
  color-scheme: dark light;
}
/* CSS-only solution using :has()
   the JS version is commented out lower down */
:root:has(#theme [value="☀️"]:checked) {
  color-scheme: light;
  --base: #cfcfcf;
  --text: #212121;
  --shadow: #212020;
}

:root:has(#theme [value="🌑"]:checked) {
  color-scheme: dark;
  --base: #212121;
  --text: #cfcfcf;
  --shadow: #e3e1e1;
}

body {
  color: var(--text);
  background-color: var(--base);
}

body {
  font-family: system-ui;
  font-size: 1.5rem;
}

input,
select {
  font: inherit;
}

.with-scrollbar {
  height: 300px;
  border: 5px solid hsl(0 0 50% / 0.5);
  overflow-y: scroll;
}
.box {
  min-width: 800px;
  min-height: 300px;
  background-color: var(--base);
  margin-inline: auto;
  display: flex;
  box-shadow: 0 0 10px var(--shadow);
  border-radius: 5px;
  flex-direction: row;
  gap: 3em;
  overflow:hidden ;
}
.login,
.register {
  min-height: 300px;
  width:inherit;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  /* border: solid; */
  position: absolute;
}
.forms {
  display: flex;
  gap: 1em;
  flex-direction: column;
}
.floating-circle {
  height: 500px;
  min-width: 800px;
  background-color: #bbb;
  border-radius: 50%;
  /* position: absolute; */
  margin-left: -50%;
  z-index: 20;
}