:root {
  --base: #cfcfcf;
  --text: #212121;
  --shadow: #e3e1e1;
  --invert-ico: 1;
  --hovering:0
}

@media (prefers-color-scheme: dark) {
  :root {
    --base: #212121;
    --text: #cfcfcf;
    --invert-ico: 1
  }
}

html {
  color-scheme: dark light;
}
:root:has(#theme [value="☀️"]:checked) {
  color-scheme: light;
  --base: #cfcfcf;
  --text: #212121;
  --shadow: #212020;
  --invert-ico: 0;
  --hovering: 1;
}

:root:has(#theme [value="🌑"]:checked) {
  color-scheme: dark;
  --base: #212121;
  --text: #cfcfcf;
  --shadow: #e3e1e1;
  --invert-ico: 1;
  --hovering: 0;
}