body {
  margin: 0;
  display: flex;
}

.left-panel {
  min-width: 60px;
  width: 200px;
  max-width: 400px;
  transition: width 0.3s ease;
  border: solid;
  display: flex;
  flex-direction: column;
}

.left-panel.collapsed {
  width: 60px;
}

.nav-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.left-panel.collapsed .nav-btn span {
  display: none;
}

.right-panel {
  flex-grow: 1;
  border: solid;
}
